# Extract Data from Relational Databases

## SQLlite Database

### import packages

In [1]:
import sqlite3

### Connect to the database

In [2]:
connection = sqlite3.connect("classroomDB.db")
connection.close()

### Create Table

In [3]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
create_table = """
                CREATE TABLE classroom(
                student_id INTEGER PRIMARY_KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemestry_marks INTEGER,
                mathematics_marks INTEGER)"""
cursor.execute(create_table)
connection.commit()
connection.close()

OperationalError: table classroom already exists

### Insert Data

In [5]:
classroom_data= [(1, "Raj", "M", 70,84,90),
                (2, "Poonam", "F", 87, 67, 93),
                (3, "Nik", "M", 65, 83, 90),
                (4, "Rahul", "F", 83, 71, 89)]
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
for student in classroom_data:
    insert_statement = """INSERT INTO classroom
                        (student_id, name, gender, physics_marks, chemestry_marks, mathematics_marks)
                        VALUES
                        ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2],
                                                                     student[3], student[4], student[5])
    cursor.execute(insert_statement)

connection.commit()
connection.close()

### Extract data

In [3]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()

query = "SELECT * FROM classroom"

cursor.execute(query)

result = cursor.fetchall()

for row in result:
    print(row)

connection.close()

(1, 'Raj', 'M', 70, 84, 90)
(2, 'Poonam', 'F', 87, 67, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 71, 89)

## MYSQL Database

### Install package

In [5]:
!conda install -y -q pymysql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\bhadr\miniconda3\envs\mlops

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pymysql-1.0.2              |     pyhd8ed1ab_0          39 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          39 KB

The following NEW packages will be INSTALLED:

  pymysql            conda-forge/noarch::pymysql-1.0.2-pyhd8ed1ab_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

### import packages

In [6]:
import pymysql